.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.wrap {
    text-align: center;
    margin-top: 20%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(37, 3, 3);
    border-color: rgb(250, 9, 9) transparent rgb(150, 35, 35) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}